:root {
  --info-panel-width: 25%;
  --current-info-panel-width: 300px;
  --cy-height: 100%;
  --bg-light-color: #E0D8CB;
  --bg-app: black;
  --bg-boxes: rgba(255,255,255, 0.07);
  --bg-boxes-lvl-2: rgba(255,255,255, 0.12);
  --bg-color: #e6e8e6;
  --bg-color-light: #EFEBE5;
  --bg-tool-light: #F4EBCC;
  --bg-color-hover: #F9F9F9;
  --tool-color: rgba(181,101,118,0.6);
  --tool-color-text: rgba(181,101,118,1);
  --diagram-color: rgba(123,123,123,0.4);
  --tool-color-hover: rgba(181,101,118,0.4);
  --data-color: rgba(40,137,134,0.6);
  --data-color-hover: rgba(40,137,134,0.4);
  --data-color-text: rgba(40,137,134,1);
  --dark-font: #273746;
  --parms-color: white;
  --running: #7CD775;
  --error: rgba(226,27,27,1);
}
