:root {
  --info-panel-width: 25%;
  --current-info-panel-width: 300px;
  --cy-height: 100%;
  --bg-light-color: #E0D8CB;
  --bg-app: black;
  --bg-boxes: rgba(255,255,255, 0.07);
  --bg-boxes-lvl-2: rgba(255,255,255, 0.12);
  --bg-color: #e6e8e6;
  --bg-color-light: #EFEBE5;
  --bg-tool-light: #F4EBCC;
  --bg-color-hover: #F9F9F9;
  --tool-color: rgba(181,101,118,0.6);
  --tool-color-text: rgba(181,101,118,1);
  --diagram-color: rgba(123,123,123,0.4);
  --tool-color-hover: rgba(181,101,118,0.4);
  --data-color: rgba(40,137,134,0.6);
  --data-color-hover: rgba(40,137,134,0.4);
  --data-color-text: rgba(40,137,134,1);
  --dark-font: #273746;
  --parms-color: white;
  --running: #7CD775;
  --error: rgba(226,27,27,1);
}


#gui_middle #cy{
  padding-left: 0px;
  display: inline-block;
  border-radius: 1px;
  border: solid 0px var(--bg-boxes);
  height: var(--cy-height);
  z-index: 999;
  width: 100%;
  min-width: 850px;
  background-color: var(--bg-boxes);

}


#diagram_editor{
  width: 100%;
  min-height: 40px;
  vertical-align: bottom;
}
#diagram_elems{
  vertical-align: bottom;
  display: inline-block;
}
#diagram_elems button{
  font-size: 12pt;
}
#diagram_elems button#add_tool{
  border: var(--tool-color);
  background-color: var(--tool-color);
  color: white;
  font-weight: 10pt;
  height: 41px;
  border: none !important;
}
#diagram_elems button svg{
  width: 15pt;
  height: 100%;
  margin-right: 5px;
  vertical-align: bottom;
}
#diagram_elems button#add_tool:hover{
  background-color: var(--tool-color-hover)!important;
}

#diagram_elems button#add_data{
  border: var(--data-color);
  background-color: var(--data-color);
  color: white;
  font-weight: 340pt;
  height: 41px;
}
#diagram_elems button#add_data:hover{
  background-color: var(--data-color-hover);
}


#general{
  position: relative;
  right: 0px;
  display: inline-block;
  margin-top: 0px;
}
#general button{
  font-size: 13pt;
  border-radius: 1px;
}
#general .comp{
  height:41px;
  font-size: 12pt;
  vertical-align: bottom;
}
#general .comp#list_options_trigger{
  background-color: var(--bg-boxes-lvl-2);
  border: none;
  color: whitesmoke;
  width: 40px;
  border: solid 0px var(--bg-boxes);
}
#general .comp#list_options_trigger:hover{
  background-color: var(--bg-boxes-lvl-2);
}
#general button#btn_run_workflow{
  font-weight: 340;
  background-color: var(--bg-boxes-lvl-2);
  border: solid 0px var(--bg-boxes);
  color: ghostwhite;
  height:41px;
  width: 150px;
}
#general button#btn_run_workflow svg{
  width: 25px;
  height: 25px;
  padding-right: 5px;
  vertical-align: top;
}
#general button#btn_run_workflow:hover{
  background-color: var(--bg-boxes-lvl-2)!important;
}


.list-options, #list_options_unit_add{
  margin-top: 1px;
  position: absolute;
  display: none;
  z-index: 1000;
  background-color: var(--bg-boxes);
  min-width: 250px;
  border-radius: 3px;
  border: solid 0.5px var(--bg-boxes);
  right: 0px;
  margin-top: 10px;
}
.list-options button{
  vertical-align: middle;
  font-size: 12pt;
  font-weight: 10;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 1px;
  margin-bottom: 0px;
  background-color: unset;
  border-bottom: 1.5px var(--bg-boxes);
  border-radius: 0px;
  color: whitesmoke;
}
.list-options button:hover{
  border-bottom: none;
  background-color: var(--bg-boxes);
  color: whitesmoke;
}
.list-options a{
  font-size: 14pt;
  display: block;
  width: 100%;
  text-align: center;
}




#diagram_view{
  margin-top: 2px;
  width: 30% !important;
  vertical-align: bottom;
  display: inline-block;
  background-color: var(--bg-boxes-lvl-2);
  border-radius: 1px;
  text-align: center;
  border: solid 0px var(--bg-boxes);
}

#diagram_view .comp{
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  font-size: 13pt;
  vertical-align: bottom;
  height: 40px;
}
#diagram_view .comp *{
  background: none;
  border: none;
  color: ghostwhite;
}
.comp#remove_elem{
  position: absolute;
  top: 90%;
  left: 110%;
  width: 200px;
  z-index: 1100;
  display: none;
  background-color: var(--bg-boxes);
  border: solid 0.5px var(--bg-boxes-lvl-2);
  padding: 10px;
  border-radius: 5px;
  font-size: 13pt;
}
.comp#remove_elem:hover{
  background-color: var(--bg-boxes-lvl-2);
}
.comp#remove_elem button{
  background-color: unset;
  vertical-align: middle;
  color: whitesmoke;
  border: unset;
  margin: 0 auto;
}
.comp#remove_elem button *{
  vertical-align: middle;
  text-align: center;
}

/*level(2) of the layout*/

#gui{
  width: 100%;
}
#left{
  position: absolute;
  width: 30%;
  margin-left: 0px;
  height: 100% !important;
}
#right{
  margin-top: 5px;
  display: inline-block !important;
  left: calc(30% + 0.5px);
  width: 100%;
  height: 100%;
}

/*level(3) of the layout*/

/*
DIAGRAM TOP
*/

#gui_top{
  position: relative;
  margin-bottom: 0px;
  height: fit-content;
  width: 100%;
  padding: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  max-height: 50px;
}
#gui_middle{
  width: 100%;
  height: 100%;
  padding: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}


#control{
  padding: 5px;
  position: relative;
  margin-top: 0px;
  left: 0px;
  width: 100%;
  min-width: 300px;
  vertical-align: top;
  display: inline-block;
  min-height: 300px;
  z-index: 1000;
  border-radius: 0px 0px 0px 0px;
  height: 100%;
  margin-right: 0px;
  /*background-color: var(--diagram-color);*/
}

#control_body{
    border-radius: 5px;
    height: 100%;
    margin-top: 2px;
    padding: 20px;
    background-color: linear-gradient(red,black);
}

#control_body .btn-edit button{
  background-color: var(--bg-boxes) !important;
  border-color: var(--bg-boxes) !important;
}
#control_body .btn-edit button#remove_btn{
  color: var(--error)  !important;
}
#control_body .btn-edit button#cancel_btn{
  color: whitesmoke !important;
}
#control_body .btn-edit button#save_btn{
  color: green !important;
}


#control_foot{
  display: block;
}

.switch-input-btn{
    width: 100%;
    margin-bottom: 10px;
}




.tool-unit{
  background-image: linear-gradient(to bottom, var(--tool-color-hover), black);
  color: white;
}
.tool-unit input{
  background-color: unset;
}
.tool-unit select{
  background-color: unset;
}
.tool-unit-text a{
  color: var(--tool-color-text);
}
.tool-unit-text a:hover{
  color: whitesmoke;
}

.data-unit{
  background-image: linear-gradient(to bottom, var(--data-color-hover), black);
  color: ghostwhite;
}
.data-unit input{
  background-color: unset;
}
.data-unit select{
  background-color: unset;
}
.data-unit a, .tool-unit a{
  color: ghostwhite;
}
.data-unit-text a{
  color: var(--data-color-text);
}
.data-unit-text a:hover{
  color: whitesmoke;
}

.diagram-unit, .edge-unit{
  background-image: linear-gradient(to bottom, var(--diagram-color), black);
  color: ghostwhite;
}
.diagram-unit input, .edge-unit{
  background-color: unset;
}
.diagram-unit textarea, .edge-unit{
  background-color: unset;
}
