body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14px;
}

#control {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 20px;
  left: 20px;
  border: solid 1px;
}

#cy {
  border: solid 1px;
  position: absolute;
  width: 70%;
  height: 500px;
  left: 350px;
  top: 20px;
  bottom: 0;
  right: 0;
  z-index: 999;
}

#control_nav {
    width: 100%;
    text-align:center;
}
#control_nav li {
  display:inline-block;
}
#control_nav li a{font-size:150%; background-color: transparent;}
#control_nav > .active > a,
#control_nav > .active > a:hover,
#control_nav > .active > a:focus {
  color: black;
  border-bottom: solid;
  border-bottom-color: grey ;
  margin-bottom: 25px;
}

#control_body *{
  text-align:center;
  margin: auto 0;
  width: 100%;
}
