body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14px;
}

#control {
  position: absolute;
  width: 350px;
  height: 300px;
  top: 120px;
  border-right: solid 3px;
  border-color: gray;
}


#cy {
  border-top: solid 3px;
  border-color: grey ;
  position: absolute;
  width: 70%;
  height: 500px;
  left: 350px;
  top: 20px;
  bottom: 0;
  right: 0;
  z-index: 999;
}

#control_nav {
    width: 100%;
    text-align:center;
    /*border-top: solid 1px;*/
    border-top-color: grey ;
}
#control_nav li {
  display:inline-block;
}
#control_nav li a{font-size:150%; background-color: transparent;}
#control_nav > .active > a,
#control_nav > .active > a:hover,
#control_nav > .active > a:focus {
  color: black;
  border-bottom: solid;
  border-bottom-color: grey;
  margin-bottom: 25px;
}
#control_body{
  width: 100%;

}

#control_body * + *{
  top: 25px;
}

.input-group{
  font-size:120%;
  left: 50px;
  width: 300px;
}


#diagram_editor{
  position: absolute;
  width: 350px;
  top: 30px;
}
#diagram_editor_nav li {
  display:inline-block;
  margin-left: 20px;
}
#diagram_editor_nav li{
}
#diagram_editor_nav li button{font-size:140%;}
