<!DOCTYPE html>
<html>
  <head>
    <title>catarsi-dipam</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../src/css/bootstrap.min.css">
    <link rel="stylesheet" href="../src/css/index.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../src/js/bootstrap.min.js"></script>

    <!--<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>-->
    <script src="../src/cytoscape/dist/cytoscape.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>-->
    <script src="../src/js/lodash.js"></script>

  </head>

  <body>
    <span>
      <div id="diagram_editor">
        <ul id="diagram_editor_nav" class="">
          <li><button id="add_tool" type="button" class="btn btn-warning">Add Tool</button></li>
          <li><button id="add_data" type="button" class="btn btn-info">Add Data</button></li>
        </ul>
      </div>

      <div id="control">
        <ul id="control_nav" class="nav control-nav"><li id="nav_overview" class="nav-btn"><a id="nav_overview_a" href="">Overview</a></li><li id="nav_info" class="nav-btn"><a id="nav_info_a" href="">Info</a></li></ul>
        <div id="control_body"></div>
      </div>
      <div id="null_div">
      </div>

    </span>
    <span><div id="cy"></div></span>

    <div id="cy_foot">
      <div id="workflow_timeline">
        <button id="btn_run_workflow" type="button" class="btn btn-default">Run workflow</button>
        <div id="start_block" class="timeline-block"></div>
        <div id="timeline_container" class="timeline-block">Workflow timeline ...</div>
        <div id="end_block" class="timeline-block"></div>
      </div>
    </div>

    <!--config file-->
    <!--<script type="text/javascript" src="../src/js/config.json"></script>-->
    <!--the interface class to include-->
    <script src="../src/js/interface.js"></script>
    <script src="../src/js/diagram.js"></script>
    <!--cytoscape-->
    <script src="../src/js/cytoscape-edgehandles.js"></script>
    <!-- The main script and the configuration loader-->
    <script src="../src/js/__local__config_loader.js"></script>
    <script src="../src/js/main.js"></script>

  </body>

</html>
